:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1rem;
  margin-top: var(--safe-area-inset-top);
  /* align-items: center; */
  height: 100vh;
  overflow-y: hidden;
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
}

h1 {
  margin-top: 4rem;
}

button, select {
  padding: 1rem;
  font-size: medium;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: indigo;
  box-shadow: 0 0 3rem indigo;
  color: white;
}

input {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: none;
  font-size: medium;
}

svg {
  height: 100%;
  width: auto;
  margin: 1rem;
}

a {
  color: black;
}

.tabBar {
  position: fixed;
  overflow: scroll;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  bottom: 1.5rem;
  margin-bottom: var(--safe-area-inset-bottom);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0.25rem;
  z-index: 10;
}

.selected {
  background-color: indigo;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  padding: 0.25rem;
  width: fit-content;
  height: fit-content;
}

.progress {
  width: 100%;
  background-color: rgba(220, 220, 220, 0.3);
  height: 2rem;
  border-radius: 1rem;
  margin: 0.75rem 0;
  position: relative;
  max-width: 15rem;
}

#progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: indigo;
  box-shadow: 0 0 3rem indigo;
  width: 0%;
  border-radius: 0.75rem;
  transition: 0.3s ease-in-out;
}

.container {
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  margin-top: 1.5rem;
  /* flex-wrap: wrap; */
  gap: 0.75rem;
}

.container, .tabBar {
  background-color: rgba(220, 220, 220, 0.5);
  border: 2px solid rgba(220, 220, 220, 0.8);
}

#app-updated {
  display: flex;
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  top: 1rem;
  max-width: 15rem;
  background-color: rgba(220, 220, 220, 0.8);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: small;
  justify-content: center;
  animation: slideFadeUp 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@keyframes slideFadeUp {
  0% {
    opacity: 1;
    filter: blur(0);
    transform: 0 0;
  }
  100% {
    opacity: 0;
    filter: blur(10px);
    translate: 0 -100%;
  }
}

#congrats-message {
  color: indigo;
  font-weight: bold;
  display: none;
}

.hidden {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  a {
    color: white;
  }

  button, select {
    background-color: white;
    color: black;
  }

  #app-updated {
    background-color: rgba(37, 37, 37, 0.8);
  }

  .progress {
    background-color: rgb(26, 26, 26);
  }

  .container, .tabBar {
    background-color: rgba(26, 26, 26, 0.5);
    border: 2px solid rgba(26, 26, 26, 0.7);
  }

  input {
    color: white;
  }
}

@media (max-width: 25rem) {
  .container, .progress {
    max-width: 100%;
  }
}

@media (min-width: 28rem) {
  .container, .progress {
    min-width: 25rem;
  }
}